.navbar {
    color: white;
    /* font-family: sans-serif; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}




